{% extends 'base.html' %}


{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'boxes:home' %}">Strona główna </a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'boxes:user_profile' %}"> Mój profil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'boxes:losuj' %}"> Losuj</a>
            </li>
        {% endif %}
    </ul>
{% endblock navbar %}


{% block content %}

    <div class="container-fluid">
        <div class="jumbotron">
            {% if user.is_authenticated %}

                <div class="container-fluid" style="text-align: center;">
                    Na tej stronie znajdują się najważniejsze przyciski w aplikacji.<br>
                    Klikając perwszy przycisk, można wylosować dla siebie jedną osobę (przycisk "Losuj").<br>
                    Natomiast drugi przycisk ("Sprawdź") - pozwala na sprawdzenie, kogo się wylosowało.
                </div>

                <p></p>

                <div class="row">
                    <div class="col card bg-light text-dark align-middle"
                         style="padding-top: 25px; padding-bottom: 25px;">
                        <div> {{ user.username }}, tutaj możesz uruchomić maszynę losującą oraz sprawdzić,
                            kto w wyniku losowania został wskazany przez liczby pseudolosowe.
                        </div>
                        <p></p>

                        <div class="container">
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" name="losuj_button" value="clicked"
                                        class="btn btn-primary btn-block btn-lg">
                                    Losuj
                                </button>
                            </form>
                            <p></p>
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" name="check" value="clicked"
                                        class="btn btn-primary btn-block btn-lg">
                                    Sprawdź
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col">

                        {% if goal is not None %}
                            <div class="jumbotron media border">

                                <div class="media-body">

                                    <div class="card" style="width:400px">
                                        <div class="card-header">
                                            Wylosowany szczęśliwiec
                                        </div>

                                        <div class="card-body">
                                            <div class="card-text">
                                                <ul>
                                                    <p> Nazwisko: {{ goal.second_name }} </p>
                                                    <p> Imię: {{ goal.first_name }} </p>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                {% if goal.is_man %}
                                    {% load static %}
                                    <img src="{% static 'avatar_m.png' %}" alt="John Doe"
                                         class="ml-3 rounded-circle card-img-bottom"
                                         style="width: 200px;">
                                {% else %}
                                    {% load static %}
                                    <img src="{% static 'avatar_f.png' %}" alt="John Doe"
                                         class="ml-3 mt-3 rounded-circle card-img-bottom"
                                         style="width: 200px;">
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="container-fluid align-middle">
                            {% if error_message %}
                                <div class="alert alert-success">

                                    <p><strong>{{ error_message }}</strong></p>
                                </div>

                            {% endif %}

                            {% if messages %}
                                <div class="alert alert-success">
                                    {% for message in messages %}
                                        <p><strong>{{ message }}</strong></p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <p></p>

                    </div>

                    {% if user.is_superuser %}
                        <div class="col card bg-light text-dark align-middle"
                             style="padding-top: 25px; padding-bottom: 25px;">

                            <h3 style="text-align: center;" >Panel administratora</h3>
                            <div class="container">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="ha" value="clicked"
                                            class="btn btn-primary btn-block btn-lg">
                                        Wylosuj wszystkim!
                                    </button>
                                </form>
                            </div>
                            <p></p>
                            <div class="container">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="clean" value="clicked"
                                            class="btn btn-primary btn-block btn-lg">
                                        Wyczyść!
                                    </button>
                                </form>
                            </div>
                            <p></p>
                            <div class="container">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="supercheck" value="clicked"
                                            class="btn btn-primary btn-block btn-lg">
                                        Sprawdzam!
                                    </button>
                                </form>
                            </div>
                            <p></p>
                            <div class="container">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="superchange" value="clicked"
                                            class="btn btn-primary btn-block btn-lg">
                                        Wymiana! Nie działa...
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock content %}